@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --color-primary: #E2E8F0;
  --color-secondary: #153060;
  --color-text-primary: #0A0E15;
  --color-text-black: #000000;
  --color-text-btn: #164E62;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-urbanist: 'Urbanist', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
}

body {
  /* font-family: var(--font-gotu); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E2E8F0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  /* border: none; */
  outline: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-primary {
  color: var(--color-text-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-black {
  color: var(--color-text-black);
}

.bg-black {
  color: var(--color-text-black);
}

.text-btn {
  color: var(--color-text-btn);
}

.bg-btn {
  color: var(--color-text-btn);
}




.font-open-sans {
  font-family: var(--font-open-sans);
}

.font-urbanist {
  font-family: var(--font-urbanist);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-manrope {
  font-family: var(--font-manrope);
}


.custom-gradient {
  background: linear-gradient(90deg, #C82D30 1.89%, #362695 67.23%, #B12F31 136.79%);
}


.hover-gradient:hover{
  background: linear-gradient(90deg, #C82D30 1.89%, #362695 67.23%, #B12F31 136.79%);
}


.hidescroll::-webkit-scrollbar{
  display: none;
}